In [8]:
from model import MyNetwork
import pandas as pd
import torch

In [5]:
test_tsla = pd.read_csv("/Users/lucasmazza/Desktop/Stock_PIrce/Stock-Price-Predict-Pytorch/TEST_TSLA_DATA.csv")
test_tsla

          Date    Open    High     Low   Close       Volume
0   07/10/2023  276.47  277.52  265.10  269.61  119,425,398
1   07/07/2023  278.43  280.78  273.77  274.43  113,879,203
2   07/06/2023  278.09  279.97  272.88  276.54  120,707,398
3   07/05/2023  278.82  283.85  277.60  282.48  131,530,891
4   07/03/2023  276.49  284.25  275.11  279.82  118,999,000
..         ...     ...     ...     ...     ...          ...
85  03/07/2023  191.38  194.20  186.10  187.71  148,125,797
86  03/06/2023  198.54  198.60  192.30  193.81  128,100,094
87  03/03/2023  194.80  200.48  192.88  197.79  154,193,297
88  03/02/2023  186.74  193.75  186.01  190.90  181,979,203
89  03/01/2023  206.21  207.20  198.52  202.77  156,852,797

[90 rows x 6 columns]

In [7]:
Y_true = test_tsla['Close']
X_vals = test_tsla.drop(['Close','Date'], axis = 1)