In [4]:
from model import MyNetwork
import pandas as pd
import torch

In [5]:
test_tsla = pd.read_csv("/Users/lucasmazza/Desktop/Stock_Price/Stock-Price-Predict-Pytorch/stock_train.csv")
test_tsla

             Date      Open      High       Low     Close     Volume Stock
0      2002-06-07   1.39320   1.40500   1.33940   1.37020  170781506  AAPL
1      2004-07-22  21.86100  22.04700  21.69400  21.82000  165779585  MSFT
2      2014-10-02  76.57000  77.48000  75.64000  77.08000   36469741    FB
3      2001-04-18  23.84100  24.94800  23.69800  24.62200  208193557  MSFT
4      2017-06-09  71.65300  71.69800  68.22600  69.94700   49405790  MSFT
...           ...       ...       ...       ...       ...        ...   ...
19581  1988-12-02   0.25162   0.26003   0.25162   0.26003  121607679  MSFT
19582  2007-06-27  15.44800  15.62800  15.27200  15.61000  271833544  AAPL
19583  1995-10-13   4.15920   4.17620   4.04200   4.05870   91234468  MSFT
19584  2008-11-05  19.56400  19.57200  18.49100  18.51800   96805760  MSFT
19585  1997-02-12   0.50460   0.50840   0.49685   0.50460   49157479  AAPL

[19586 rows x 7 columns]

In [9]:
#rename FB to META
file_path = '/Users/lucasmazza/Desktop/Stock_Price/Stock-Price-Predict-Pytorch/stock_train.csv'
df = pd.read_csv(file_path)

# Rename a specific value in the 'status' column
old_value = 'FB'
new_value = 'META'

df['status'] = df['Date'].replace(old_value, new_value)

# Save the modified DataFrame back to the CSV file
df.to_csv(file_path, index=False)

print("CSV File Updated Successfully.")

CSV File Updated Successfully.

In [7]:
most_recent_date = test_tsla['Date'].max()

print("Most Recent Date:", most_recent_date)

Most Recent Date: 2017-11-10