In [1]:
from model import MyNetwork
import pandas as pd
import torch

In [2]:
test_tsla = pd.read_csv("/Users/lucasmazza/Desktop/Stock_Price/Stock-Price-Predict-Pytorch/stock_train.csv")
test_tsla

             Date      Open     High       Low     Close     Volume Stock
0      2002-06-07    1.3932    1.405    1.3394    1.3702  170781506  AAPL
1      2004-07-22   21.8610   22.047   21.6940   21.8200  165779585  MSFT
2      2014-10-02   76.5700   77.480   75.6400   77.0800   36469741    FB
3      2001-04-18   23.8410   24.948   23.6980   24.6220  208193557  MSFT
4      2017-06-09   71.6530   71.698   68.2260   69.9470   49405790  MSFT
...           ...       ...      ...       ...       ...        ...   ...
25373  2023-08-09  312.8800  313.630  302.8500  305.2100   19955783  META
25374  2023-08-10  307.9400  312.339  303.8700  305.7400   14358897  META
25375  2023-08-11  302.5700  304.720  300.3600  301.6400   14046250  META
25376  2023-08-14  300.9800  306.210  298.2500  306.1900   15641921  META
25377  2023-08-15  306.1400  307.230  300.0300  301.9500   11623613  META

[25378 rows x 7 columns]

In [4]:
#rename FB to META
file_path = '/Users/lucasmazza/Desktop/Stock_Price/Stock-Price-Predict-Pytorch/stock_train.csv'
df = pd.read_csv(file_path)

# Rename a specific value in the 'status' column
old_value = 'FB'
new_value = 'META'

df['Stock'] = df['Stock'].replace(old_value, new_value)
#df.drop('status', axis=1, inplace=True)

# Save the modified DataFrame back to the CSV file
df.to_csv(file_path, index=False)

print("CSV File Updated Successfully.")

CSV File Updated Successfully.

In [5]:
most_recent_date = test_tsla['Date'].max()

print("Most Recent Date:", most_recent_date)

Most Recent Date: 2023-08-15

In [12]:
print(df.isna().sum())

Date      0
Open      0
High      0
Low       0
Close     0
Volume    0
Stock     0
dtype: int64